html {
    background-color: black;
    background-image: url('http://images6.fanpop.com/image/photos/34500000/Blue-Wallpaper-colors-34503031-1920-1200.jpg');
    background-size: cover;
    background-attachment: fixed;
}
header {
    background-color: #222222;
    color: #FFFFFF;
    padding: 20px;
    font-family: 'Lobster', cursive;
    text-align: center
}
.introduction {
    background-color: #222222;
    padding: 30px;
    width: 700px;
    margin: 0 auto;
    margin-top: 30px;

    color: #FFFFFF;
    font-size: 14px;
    line-height: 130%;
    border: 10px solid #1770FF;
    border-radius: 10px;
}
.gallery img {
    height: 100px;
    border-width: 5px;
    border-color: #FFFFFF;
    border-style: solid;
    box-shadow: 3px 3px 5px 6px #000000;
    margin: 5px;
}
h3 {
   font-family: 'Fjalla One', sans-serif;
}